{% extends "CMSBundle:Templates:"~template|default(cms.base_template)~"html.twig" %}

{% block title %}Ошибка: {{ status_text }}{% endblock %}
{% block body %}
<h1>Ошибка</h1>
<p>
	Ошибка сервера.
</p>
{% endblock %}
